/* Calc.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#res {
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn input {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
}
